<div class="row">

  <div class="small-10 small-offset-1 columns">

    <h3>Open Problems</h3>

	<% if !logged_in? %>
		<p>To add your own problem, please <%= link_to 'login', new_login_path %>.</p>
	<% end %>

	</div>
</div>
<div class="row">
  <div id="problems">
  <%= render @problems %>
</div>

</div>




</div>
